#user-actions {
  /*position: relative;
  float: right;*/
  text-align: right;
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 50px;
  /*border-bottom: 1px solid black;*/
}

body {
  /*border-top: 1px solid black;*/
}

#user-actions {
  align-items: center;
}

#signup-success {
  width: 400px;
  margin: 0 auto;
}

#login-form {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 1px solid black;
}

#signup-form {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 1px solid black;
}

#signup-success {
  width: 400px;
  margin: 0 auto;
}
